<div class="zajecia od-{{ lesson.start_hour }} czas-{{ lesson.duration }}h type-{{ lesson.type }} day-{{ lesson.day_of_week }}">
               <span class="przedmiot">{{ lesson.course }}</span>
               <span class="rodzaj">{{ lesson.type }}</span>
               <span class="godzina">Start:{{ lesson.start_hour }}:15 Koniec po: {{ lesson.duration }} h</span>
               <span class="sala">WI-12B</span>
               <span class="edytuj_przedmiot"><a href="#" data-toggle="modal" data-target="#edycja">(E)</a></span>
<span class="notatka_add_przedmiot"><a href="#" data-toggle="modal" data-target="#note-Add">(A)</a></span>
{% if lesson.notes.all %}

 		<span class="notatka_przedmiot"><a href="#" data-toggle="modal" data-target="#note-">(N)</a></span>
		



<!-- notatka-->
<div class="modal fade" id="note-" tabindex="-1" role="dialog" aria-labelledby="edycjaLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h4 class="modal-title" id="myModalLabel">Notatka</h4>
     </div>
     <div class="modal-body">
       
{% for note in lesson.notes.all %}

         <label>
{{ note.content }}</label><br /><br /><br />
        <label > Created: {{ note.created }} </label><br />
{% endfor %}
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
       <button type="button" class="btn btn-primary" data-dismiss="modal">Edytuj</button>
     </div>
   </div>
 </div>
</div>



{% endif %}
             </div>