{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Zarządzanie wiadomościami{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<legend>
			Panel dziekanatu
		</legend>
		<div class="row">
			<div class="col-sm-3">
				{% include 'panel/menu.html' %}
			</div>
			<div class="col-sm-9">
				<!-- Add news -->
				<div class="col-sm-7">
			        <form method="post" class="form-horizontal"> {% csrf_token %}
			            <fieldset>
			                <legend>Dodawanie powiadomień</legend>
			                {% for field in form %}
				                {% if field.is_hidden %}
					                {{ field }}
				                {% else %}
					            <div class="form-group">
			                        <div class="col-lg-12">
			                            {{ field | add_class:"form-control" }}
			                        </div>
			                    </div>
			                	{% endif %}
				                {% if field.errors %}
									{% for error in field.errors %}
										<div class="alert alert-warning"><strong>{{ error | escape }}</strong></div>
				                    {% endfor %}
								{% endif %}
				            {% endfor %}
			                <div class="form-group">
			                    <div class="col-lg-12 ">
			                        <button type="submit" class="btn btn-primary">
			                            Dodaj
			                        </button>
			                    </div>
			                </div>
			            </fieldset>
			        </form>
			    </div>
				<!-- /Add news -->
				
				<div class="col-sm-5">
		            <legend>Aktywne powiadomienia</legend>
		            {% for post in posts %}
						<div class="panel panel-default">
				            <div class="panel-heading">
				                <h3 class="panel-title">
				                	{{ post.title }}
				                	<a href='{% url "edit_news" post.pk %}'>(Edytuj)</a>
				                	<a href='{% url "delete_news" post.pk %}'>(Usuń)</a>
				                </h3>
				                {{ post.created }}
				            </div>
				        </div>
		            {% endfor %}
			    </div>

			</div>
		</div>
	</div>
</div>
{% endblock %}