{% extends 'base.html' %}

{% block title %}Plan zajęć{% endblock %}

{% block content %}


<!-- Schedule grid -->
{% include 'plan/schedule_grid.html' %}
<!-- /Schedule grid-->

<!-- jQuery schedule tiles -->
{% block scripts %}
<script>
	$(document).ready(function(){
		{% for lesson in lesson_list %}
			$('.{{ lesson.day_of_week }}-{{ lesson.start_hour | add:"-7" }}').append("<form method='POST'>{% csrf_token %}<input type='hidden' value='{{ lesson.pk }}' name='new_lesson'><div><button class='lesson {{ lesson.type }} hours-{{ lesson.duration }}' id='submit' type='submit'>{{ lesson.course }}<br />{{ lesson.teacher }}</button></form>");
		{% endfor %}
	});
</script>
{% endblock %}
<!-- /jQuery schedule tiles -->

{% endblock %}
