<!-- Modal -->
<div class="modal fade" id="note-{{ lesson.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-note">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel"> Notatka <a href="{% url 'lesson_transfer' lesson.pk %}" class="btn btn-primary btn-xs">Zmień grupę</a></h4>
			</div>
			<form class="form-horizontal" method="POST"> {% csrf_token %}
				<fieldset>
					<div class="modal-body">
						
						<div class="form-group">
							<div class="col-lg-12">
								<textarea class="form-control" id="{{ noteform.content.auto_id }}" placeholder="Treść" row="6" name="{{ noteform.content.name }}">{{ lesson.note.content }}</textarea>
							</div>
						</div>
						<input type="hidden" id="{{ noteform.lesson.auto_id }}" value="{{ lesson.pk }}" name="{{ noteform.lesson.name }}"/>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Zamknij
						</button>
						<button type="submit" class="btn btn-primary">
							Zapisz
						</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>