{% extends 'base.html' %}

{% block title %}Plan zajęć{% endblock %}

{% block content %}
	{% for post in posts %}
		<div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ post.title }}</h3>
            </div>
            <div class="panel-body">
                {{ post.content }}
                <br />
                <span style="float: right">
                ({{ post.created }})
                </span>
            </div>
        </div>
	{% endfor %}
	{% for lesson in lesson_list %}
		Lesson id: {{ lesson.pk }}<br/>
		&emsp;Start hour/end hour: {{ lesson.start_hour }}/{{ lesson.end_hour }}<br/>
		&emsp;Day of week: {{ lesson.day_of_week }}<br/>
		&emsp;Type: {{ lesson.type }}<br/>
		&emsp;Course: {{ lesson.course }}<br/>
		&emsp;Teacher: {{ lesson.teacher }}<br/>
		&emsp;Group: {{ lesson.group }}<br/>
		
		{% if lesson.notes.all %}
			&emsp;Notes:<br/>
			{% for note in lesson.notes.all %}
				&emsp;&emsp;Note id: {{ note.pk }}<br/>
				&emsp;&emsp;&emsp;Content: {{ note.content }}<br/>
				&emsp;&emsp;&emsp;Title: {{ note.title }}<br/>
				&emsp;&emsp;&emsp;Created: {{ note.created }}<br/><br/>
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endblock %}
