<!-- Schedule grid -->
<div class="schedule visible-md visible-lg visible-sm">

	<div class="schedule-col-1">
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>8.00 - 9.15</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>9.15 - 10.00</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>10.15 - 11.00</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>11.15 - 12.00</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>12.15 - 13.00</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>13.15 - 14.00</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>14.15 - 15.00</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>15.05 - 15.50</p>
			</span>	
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>16.00 - 16.45</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>16.50 - 17.35</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>17.40 - 18.25</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>18.30 - 19.15</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>19.20 - 20.05</p>
			</span>
		</div>
		<div class="schedule-row">
			<span class="table-wrapper">
				<p>20.10 - 20.55</p>
			</span>
		</div>
	</div>
	<div class="schedule-col-2">
		<div class="schedule-row 1-1">
			
		</div>
		<div class="schedule-row 1-2">
			
		</div>
		<div class="schedule-row 1-3">
			
		</div>
		<div class="schedule-row 1-4">
			
		</div>
		<div class="schedule-row 1-5">
			
		</div>
		<div class="schedule-row 1-6">
			
		</div>
		<div class="schedule-row 1-7">
			
		</div>
		<div class="schedule-row 1-8">
			
		</div>
		<div class="schedule-row 1-9">
			
		</div>
		<div class="schedule-row 1-10">
			
		</div>
		<div class="schedule-row 1-11">
			
		</div>
		<div class="schedule-row 1-12">
			
		</div>
		<div class="schedule-row 1-13">
			
		</div>
		<div class="schedule-row 1-14">
			
		</div>
	</div>
	<div class="schedule-col-2">
		<div class="schedule-row 2-1">
			
		</div>
		<div class="schedule-row 2-2">
			
		</div>
		<div class="schedule-row 2-3">
			
		</div>
		<div class="schedule-row 2-4">
			
		</div>
		<div class="schedule-row 2-5">
			
		</div>
		<div class="schedule-row 2-6">
			
		</div>
		<div class="schedule-row 2-7">
			
		</div>
		<div class="schedule-row 2-8">
			
		</div>
		<div class="schedule-row 2-9">
			
		</div>
		<div class="schedule-row 2-10">
			
		</div>
		<div class="schedule-row 2-11">
			
		</div>
		<div class="schedule-row 2-12">
			
		</div>
		<div class="schedule-row 2-13">
			
		</div>
		<div class="schedule-row 2-14">
			
		</div>
	</div>
	<div class="schedule-col-2">
		<div class="schedule-row 3-1">
			
		</div>
		<div class="schedule-row 3-2">
			
		</div>
		<div class="schedule-row 3-3">
			
		</div>
		<div class="schedule-row 3-4">
			
		</div>
		<div class="schedule-row 3-5">
			
		</div>
		<div class="schedule-row 3-6">
			
		</div>
		<div class="schedule-row 3-7">
			
		</div>
		<div class="schedule-row 3-8">
			
		</div>
		<div class="schedule-row 3-9">
			
		</div>
		<div class="schedule-row 3-10">
			
		</div>
		<div class="schedule-row 3-11">
			
		</div>
		<div class="schedule-row 3-13">
			
		</div>
		<div class="schedule-row 3-13">
			
		</div>
		<div class="schedule-row 3-14">
			
		</div>
	</div>
	<div class="schedule-col-2">
		<div class="schedule-row 4-1">
			
		</div>
		<div class="schedule-row 4-2">
			
		</div>
		<div class="schedule-row 4-3">
			
		</div>
		<div class="schedule-row 4-4">
			
		</div>
		<div class="schedule-row 4-5">
			
		</div>
		<div class="schedule-row 4-6">
			
		</div>
		<div class="schedule-row 4-7">
			
		</div>
		<div class="schedule-row 4-8">
			
		</div>
		<div class="schedule-row 4-9">
			
		</div>
		<div class="schedule-row 4-10">
			
		</div>
		<div class="schedule-row 4-11">
			
		</div>
		<div class="schedule-row 4-12">
			
		</div>
		<div class="schedule-row 4-13">
			
		</div>
		<div class="schedule-row 4-14">
			
		</div>
	</div>
	<div class="schedule-col-2">
		<div class="schedule-row 5-1">
			
		</div>
		<div class="schedule-row 5-2">
			
		</div>
		<div class="schedule-row 5-3">
			
		</div>
		<div class="schedule-row 5-4">
			
		</div>
		<div class="schedule-row 5-5">
			
		</div>
		<div class="schedule-row 5-6">
			
		</div>
		<div class="schedule-row 5-7">
			
		</div>
		<div class="schedule-row 5-8">
			
		</div>
		<div class="schedule-row 5-9">
			
		</div>
		<div class="schedule-row 5-10">
			
		</div>
		<div class="schedule-row 5-11">
			
		</div>
		<div class="schedule-row 5-12">
			
		</div>
		<div class="schedule-row 5-13">
			
		</div>
		<div class="schedule-row 5-14">
			
		</div>
	</div>
	<div class="schedule-col-2">
		<div class="schedule-row 6-1">
			
		</div>
		<div class="schedule-row 6-2">
			
		</div>
		<div class="schedule-row 6-3">
			
		</div>
		<div class="schedule-row 6-4">
			
		</div>
		<div class="schedule-row 6-5">
			
		</div>
		<div class="schedule-row 6-6">
			
		</div>
		<div class="schedule-row 6-7">
			
		</div>
		<div class="schedule-row 6-8">
			
		</div>
		<div class="schedule-row 6-9">
			
		</div>
		<div class="schedule-row 6-10">
			
		</div>
		<div class="schedule-row 6-11">
			
		</div>
		<div class="schedule-row 6-12">
			
		</div>
		<div class="schedule-row 6-13">
			
		</div>
		<div class="schedule-row 6-14">
			
		</div>
	</div>
	<div class="schedule-col-2">
		<div class="schedule-row 7-1">
			
		</div>
		<div class="schedule-row 7-2">
			
		</div>
		<div class="schedule-row 7-3">
			
		</div>
		<div class="schedule-row 7-4">
			
		</div>
		<div class="schedule-row 7-5">
			
		</div>
		<div class="schedule-row 7-6">
			
		</div>
		<div class="schedule-row 7-7">
			
		</div>
		<div class="schedule-row 7-8">
			
		</div>
		<div class="schedule-row 7-9">
			
		</div>
		<div class="schedule-row 7-10">
			
		</div>
		<div class="schedule-row 7-11">
			
		</div>
		<div class="schedule-row 7-12">
			
		</div>
		<div class="schedule-row 7-13">
			
		</div>
		<div class="schedule-row 7-14">
			
		</div>
	</div>
</div>
<!-- /Schedule grid -->

<!-- Schedule mobile -->
<div id="carousel-example-generic" class="schedule-mobile visible-xs carousel slide" data-interval="false">
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<!-- Poniedziałek -->
		<div class="item active">
			<div class="row col-lg-12">
				<div class="schedule-col-15">
					<div class="schedule-head">
						<a href="#carousel-example-generic" data-slide="prev">&laquo;</a>
						Poniedziałek
						<a href="#carousel-example-generic" data-slide="next">&raquo;</a>
					</div>
				</div>
			</div>
			<div class="row col-lg-12">
				<div class="schedule-col-2">
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>8.00 - 9.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>9.15 - 10.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>10.15 - 11.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>11.15 - 12.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>12.15 - 13.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>13.15 - 14.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>14.15 - 15.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>15.05 - 15.50</p>
						</span>	
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.00 - 16.45</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.50 - 17.35</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>17.40 - 18.25</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>18.30 - 19.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>19.20 - 20.05</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>20.10 - 20.55</p>
						</span>
					</div>
				</div>
				<div class="schedule-col-13">
					<div class="schedule-row 1-1">
				
					</div>
					<div class="schedule-row 1-2">
						
					</div>
					<div class="schedule-row 1-3">
						
					</div>
					<div class="schedule-row 1-4">
						
					</div>
					<div class="schedule-row 1-5">
						
					</div>
					<div class="schedule-row 1-6">
						
					</div>
					<div class="schedule-row 1-7">
						
					</div>
					<div class="schedule-row 1-8">
						
					</div>
					<div class="schedule-row 1-9">
						
					</div>
					<div class="schedule-row 1-10">
						
					</div>
					<div class="schedule-row 1-11">
						
					</div>
					<div class="schedule-row 1-12">
						
					</div>
					<div class="schedule-row 1-13">
						
					</div>
					<div class="schedule-row 1-14">
						
					</div>
				</div>
			</div>
		</div>
		
		<!-- Wtorek -->
		<div class="item">
			<div class="row col-lg-12">
				<div class="schedule-col-15">
					<div class="schedule-head">
						<a href="#carousel-example-generic" data-slide="prev">&laquo;</a>
						Wtorek
						<a href="#carousel-example-generic" data-slide="next">&raquo;</a>
					</div>
				</div>
			</div>
			<div class="row col-lg-12">
				<div class="schedule-col-2">
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>8.00 - 9.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>9.15 - 10.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>10.15 - 11.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>11.15 - 12.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>12.15 - 13.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>13.15 - 14.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>14.15 - 15.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>15.05 - 15.50</p>
						</span>	
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.00 - 16.45</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.50 - 17.35</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>17.40 - 18.25</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>18.30 - 19.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>19.20 - 20.05</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>20.10 - 20.55</p>
						</span>
					</div>
				</div>
				<div class="schedule-col-13">
					<div class="schedule-row 2-1">
				
					</div>
					<div class="schedule-row 2-2">
						
					</div>
					<div class="schedule-row 2-3">
						
					</div>
					<div class="schedule-row 2-4">
						
					</div>
					<div class="schedule-row 2-5">
						
					</div>
					<div class="schedule-row 2-6">
						
					</div>
					<div class="schedule-row 2-7">
						
					</div>
					<div class="schedule-row 2-8">
						
					</div>
					<div class="schedule-row 2-9">
						
					</div>
					<div class="schedule-row 2-10">
						
					</div>
					<div class="schedule-row 2-11">
						
					</div>
					<div class="schedule-row 2-12">
						
					</div>
					<div class="schedule-row 2-13">
						
					</div>
					<div class="schedule-row 2-14">
						
					</div>
				</div>
			</div>
		</div>
		
		<!-- Środa -->
		<div class="item">
			<div class="row col-lg-12">
				<div class="schedule-col-15">
					<div class="schedule-head">
						<a href="#carousel-example-generic" data-slide="prev">&laquo;</a>
						Środa
						<a href="#carousel-example-generic" data-slide="next">&raquo;</a>
					</div>
				</div>
			</div>
			<div class="row col-lg-12">
				<div class="schedule-col-2">
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>8.00 - 9.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>9.15 - 10.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>10.15 - 11.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>11.15 - 12.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>12.15 - 13.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>13.15 - 14.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>14.15 - 15.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>15.05 - 15.50</p>
						</span>	
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.00 - 16.45</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.50 - 17.35</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>17.40 - 18.25</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>18.30 - 19.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>19.20 - 20.05</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>20.10 - 20.55</p>
						</span>
					</div>
				</div>
				<div class="schedule-col-13">
					<div class="schedule-row 3-1">
				
					</div>
					<div class="schedule-row 3-2">
						
					</div>
					<div class="schedule-row 3-3">
						
					</div>
					<div class="schedule-row 3-4">
						
					</div>
					<div class="schedule-row 3-5">
						
					</div>
					<div class="schedule-row 3-6">
						
					</div>
					<div class="schedule-row 3-7">
						
					</div>
					<div class="schedule-row 3-8">
						
					</div>
					<div class="schedule-row 3-9">
						
					</div>
					<div class="schedule-row 3-10">
						
					</div>
					<div class="schedule-row 3-11">
						
					</div>
					<div class="schedule-row 3-12">
						
					</div>
					<div class="schedule-row 3-13">
						
					</div>
					<div class="schedule-row 3-14">
						
					</div>
				</div>
			</div>
		</div>
		
		<!-- Czwartek -->
		<div class="item">
			<div class="row col-lg-12">
				<div class="schedule-col-15">
					<div class="schedule-head">
						<a href="#carousel-example-generic" data-slide="prev">&laquo;</a>
						Czwartek
						<a href="#carousel-example-generic" data-slide="next">&raquo;</a>
					</div>
				</div>
			</div>
			<div class="row col-lg-12">
				<div class="schedule-col-2">
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>8.00 - 9.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>9.15 - 10.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>10.15 - 11.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>11.15 - 12.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>12.15 - 13.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>13.15 - 14.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>14.15 - 15.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>15.05 - 15.50</p>
						</span>	
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.00 - 16.45</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.50 - 17.35</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>17.40 - 18.25</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>18.30 - 19.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>19.20 - 20.05</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>20.10 - 20.55</p>
						</span>
					</div>
				</div>
				<div class="schedule-col-13">
					<div class="schedule-row 4-1">
				
					</div>
					<div class="schedule-row 4-2">
						
					</div>
					<div class="schedule-row 4-3">
						
					</div>
					<div class="schedule-row 4-4">
						
					</div>
					<div class="schedule-row 4-5">
						
					</div>
					<div class="schedule-row 4-6">
						
					</div>
					<div class="schedule-row 4-7">
						
					</div>
					<div class="schedule-row 4-8">
						
					</div>
					<div class="schedule-row 4-9">
						
					</div>
					<div class="schedule-row 4-10">
						
					</div>
					<div class="schedule-row 4-11">
						
					</div>
					<div class="schedule-row 4-12">
						
					</div>
					<div class="schedule-row 4-13">
						
					</div>
					<div class="schedule-row 4-14">
						
					</div>
				</div>
			</div>
		</div>
		
		<!-- Piątek -->
		<div class="item">
			<div class="row col-lg-12">
				<div class="schedule-col-15">
					<div class="schedule-head">
						<a href="#carousel-example-generic" data-slide="prev">&laquo;</a>
						Piątek
						<a href="#carousel-example-generic" data-slide="next">&raquo;</a>
					</div>
				</div>
			</div>
			<div class="row col-lg-12">
				<div class="schedule-col-2">
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>8.00 - 9.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>9.15 - 10.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>10.15 - 11.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>11.15 - 12.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>12.15 - 13.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>13.15 - 14.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>14.15 - 15.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>15.05 - 15.50</p>
						</span>	
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.00 - 16.45</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.50 - 17.35</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>17.40 - 18.25</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>18.30 - 19.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>19.20 - 20.05</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>20.10 - 20.55</p>
						</span>
					</div>
				</div>
				<div class="schedule-col-13">
					<div class="schedule-row 5-1">
				
					</div>
					<div class="schedule-row 5-2">
						
					</div>
					<div class="schedule-row 5-3">
						
					</div>
					<div class="schedule-row 5-4">
						
					</div>
					<div class="schedule-row 5-5">
						
					</div>
					<div class="schedule-row 5-6">
						
					</div>
					<div class="schedule-row 5-7">
						
					</div>
					<div class="schedule-row 5-8">
						
					</div>
					<div class="schedule-row 5-9">
						
					</div>
					<div class="schedule-row 5-10">
						
					</div>
					<div class="schedule-row 5-11">
						
					</div>
					<div class="schedule-row 5-12">
						
					</div>
					<div class="schedule-row 5-13">
						
					</div>
					<div class="schedule-row 5-14">
						
					</div>
				</div>
			</div>
		</div>
		
		<!-- Sobota -->
		<div class="item">
			<div class="row col-lg-12">
				<div class="schedule-col-15">
					<div class="schedule-head">
						<a href="#carousel-example-generic" data-slide="prev">&laquo;</a>
						Sobota
						<a href="#carousel-example-generic" data-slide="next">&raquo;</a>
					</div>
				</div>
			</div>
			<div class="row col-lg-12">
				<div class="schedule-col-2">
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>8.00 - 9.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>9.15 - 10.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>10.15 - 11.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>11.15 - 12.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>12.15 - 13.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>13.15 - 14.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>14.15 - 15.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>15.05 - 15.50</p>
						</span>	
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.00 - 16.45</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.50 - 17.35</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>17.40 - 18.25</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>18.30 - 19.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>19.20 - 20.05</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>20.10 - 20.55</p>
						</span>
					</div>
				</div>
				<div class="schedule-col-13">
					<div class="schedule-row 6-1">
				
					</div>
					<div class="schedule-row 6-2">
						
					</div>
					<div class="schedule-row 6-3">
						
					</div>
					<div class="schedule-row 6-4">
						
					</div>
					<div class="schedule-row 6-5">
						
					</div>
					<div class="schedule-row 6-6">
						
					</div>
					<div class="schedule-row 6-7">
						
					</div>
					<div class="schedule-row 6-8">
						
					</div>
					<div class="schedule-row 6-9">
						
					</div>
					<div class="schedule-row 6-10">
						
					</div>
					<div class="schedule-row 6-11">
						
					</div>
					<div class="schedule-row 6-12">
						
					</div>
					<div class="schedule-row 6-13">
						
					</div>
					<div class="schedule-row 6-14">
						
					</div>
				</div>
			</div>
		</div>
		
		<!-- niedziela -->
		<div class="item">
			<div class="row col-lg-12">
				<div class="schedule-col-15">
					<div class="schedule-head">
						<a href="#carousel-example-generic" data-slide="prev">&laquo;</a>
						Niedziela
						<a href="#carousel-example-generic" data-slide="next">&raquo;</a>
					</div>
				</div>
			</div>
			<div class="row col-lg-12">
				<div class="schedule-col-2">
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>8.00 - 9.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>9.15 - 10.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>10.15 - 11.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>11.15 - 12.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>12.15 - 13.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>13.15 - 14.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>14.15 - 15.00</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>15.05 - 15.50</p>
						</span>	
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.00 - 16.45</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>16.50 - 17.35</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>17.40 - 18.25</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>18.30 - 19.15</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>19.20 - 20.05</p>
						</span>
					</div>
					<div class="schedule-row">
						<span class="table-wrapper">
							<p>20.10 - 20.55</p>
						</span>
					</div>
				</div>
				<div class="schedule-col-13">
					<div class="schedule-row 7-1">
				
					</div>
					<div class="schedule-row 7-2">
						
					</div>
					<div class="schedule-row 7-3">
						
					</div>
					<div class="schedule-row 7-4">
						
					</div>
					<div class="schedule-row 7-5">
						
					</div>
					<div class="schedule-row 7-6">
						
					</div>
					<div class="schedule-row 7-7">
						
					</div>
					<div class="schedule-row 7-8">
						
					</div>
					<div class="schedule-row 7-9">
						
					</div>
					<div class="schedule-row 7-10">
						
					</div>
					<div class="schedule-row 7-11">
						
					</div>
					<div class="schedule-row 7-12">
						
					</div>
					<div class="schedule-row 7-13">
						
					</div>
					<div class="schedule-row 7-14">
						
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>
<!-- /Schedule mobile -->