{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Odzysykiwanie hasła{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<legend>
			Odzyskiwanie hasła
		</legend>
		<form class="form-horizontal" method="post"> {% csrf_token %}
			
			{% include "messages.html" with messages=form.non_field_errors type='danger' %}
			{% include "messages.html" with messages=messages type='success' %}
			
			<fieldset>
				{% for field in form %}
					<div class="form-group">
						<label for="{{ field.auto_id }}" class="col-lg-3 control-label">{{ field.label }}</label>
						<div class="col-lg-9">
							{{ field | add_class:"form-control" }}
							{% if field.errors %}
							{% for error in field.errors %}
								<p class="text-danger">{{ error | escape }}</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				{% endfor %}
				<div class="form-group">
					<div class="col-lg-9 col-lg-offset-3">
						<button type="submit" class="btn btn-primary">
							Zatwierdź
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}
